<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ebeijia.mapper.VerChannelMapper">
	<resultMap id="BaseResultMap" type="com.ebeijia.models.VerChannel">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="CHNL_ID" property="chnlId" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="STATE" property="state" jdbcType="CHAR" />
		<result column="ABOUT" property="about" jdbcType="LONGVARCHAR" />
		<result column="RES1" property="res1" jdbcType="CHAR" />
		<result column="RES2" property="res2" jdbcType="CHAR" />
		<result column="RES3" property="res3" jdbcType="CHAR" />
		<result column="RES4" property="res4" jdbcType="CHAR" />
		<result column="LAST_TIME" property="lastTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, CHNL_ID, NAME, STATE, RES1, RES2, RES3, RES4, LAST_TIME,ABOUT
	</sql>

	<select id="selectByChnlId" resultType="int">
		select count(*) from ver_channel  where  STATE='01' and CHNL_ID=#{chnlId}
	</select>
	
	<select id="selectVerChannelByChnlId" resultType="com.ebeijia.models.VerChannel">
		select * from ver_channel  where CHNL_ID=#{chnlId}
	</select>
	
	<select id="selectByPrimaryKey" resultType="com.ebeijia.models.VerChannel"
		parameterType="java.lang.Integer">

		select
		<include refid="Base_Column_List" />
		from ver_channel
		where ID = #{chnlId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Oct 14 
			17:02:13 CST 2016. -->
		delete from ver_channel
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ebeijia.models.VerChannel">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Oct 14 
			17:02:13 CST 2016. -->
		insert into ver_channel (ID, CHNL_ID, NAME,
		STATE, RES1, RES2, RES3,
		RES4, LAST_TIME, ABOUT
		)
		values (#{id,jdbcType=INTEGER}, #{chnlId,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{state,jdbcType=CHAR}, #{res1,jdbcType=CHAR}, #{res2,jdbcType=CHAR}, #{res3,jdbcType=CHAR},
		#{res4,jdbcType=CHAR}, #{lastTime,jdbcType=TIMESTAMP},
		#{about,jdbcType=LONGVARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.ebeijia.models.VerChannel">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Oct 14 
			17:02:13 CST 2016. -->
		insert into ver_channel
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="chnlId != null">
				CHNL_ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="state != null">
				STATE,
			</if>
			<if test="res1 != null">
				RES1,
			</if>
			<if test="res2 != null">
				RES2,
			</if>
			<if test="res3 != null">
				RES3,
			</if>
			<if test="res4 != null">
				RES4,
			</if>
			<if test="lastTime != null">
				LAST_TIME,
			</if>
			<if test="about != null">
				ABOUT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="chnlId != null">
				#{chnlId,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=CHAR},
			</if>
			<if test="res1 != null">
				#{res1,jdbcType=CHAR},
			</if>
			<if test="res2 != null">
				#{res2,jdbcType=CHAR},
			</if>
			<if test="res3 != null">
				#{res3,jdbcType=CHAR},
			</if>
			<if test="res4 != null">
				#{res4,jdbcType=CHAR},
			</if>
			<if test="lastTime != null">
				#{lastTime,jdbcType=TIMESTAMP},
			</if>
			<if test="about != null">
				#{about,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ebeijia.models.VerChannel">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Oct 14 
			17:02:13 CST 2016. -->
		update ver_channel
		<set>
			<if test="chnlId != null">
				CHNL_ID = #{chnlId,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				STATE = #{state,jdbcType=CHAR},
			</if>
			<if test="res1 != null">
				RES1 = #{res1,jdbcType=CHAR},
			</if>
			<if test="res2 != null">
				RES2 = #{res2,jdbcType=CHAR},
			</if>
			<if test="res3 != null">
				RES3 = #{res3,jdbcType=CHAR},
			</if>
			<if test="res4 != null">
				RES4 = #{res4,jdbcType=CHAR},
			</if>
			<if test="lastTime != null">
				LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
			</if>
			<if test="about != null">
				ABOUT = #{about,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ebeijia.models.VerChannel">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Oct 14 
			17:02:13 CST 2016. -->
		update ver_channel
		set CHNL_ID = #{chnlId,jdbcType=VARCHAR},
		NAME = #{name,jdbcType=VARCHAR},
		STATE = #{state,jdbcType=CHAR},
		RES1 = #{res1,jdbcType=CHAR},
		RES2 = #{res2,jdbcType=CHAR},
		RES3 = #{res3,jdbcType=CHAR},
		RES4 = #{res4,jdbcType=CHAR},
		LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
		ABOUT = #{about,jdbcType=LONGVARCHAR}
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ebeijia.models.VerChannel">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Oct 14 
			17:02:13 CST 2016. -->
		update ver_channel
		set CHNL_ID = #{chnlId,jdbcType=VARCHAR},
		NAME = #{name,jdbcType=VARCHAR},
		STATE = #{state,jdbcType=CHAR},
		RES1 = #{res1,jdbcType=CHAR},
		RES2 = #{res2,jdbcType=CHAR},
		RES3 = #{res3,jdbcType=CHAR},
		RES4 = #{res4,jdbcType=CHAR},
		LAST_TIME = #{lastTime,jdbcType=TIMESTAMP}
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>