<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context-3.2.xsd
                http://www.springframework.org/schema/aop
         		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                http://www.springframework.org/schema/mvc
                http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">


	<mvc:annotation-driven content-negotiation-manager="contentNegotiationManager" />
	<bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
	    <property name="favorPathExtension" value="false" />
	    <property name="favorParameter" value="false" />
	    <property name="ignoreAcceptHeader" value="false" />
	    <property name="mediaTypes" >
	        <value>
	            atom=application/atom+xml
	            html=text/html
	            json=application/json
	            *=*/*
	        </value>
	    </property>
	</bean>

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<mvc:resources location="/WEB-INF/" mapping="/WEB-INF/**" />
	<bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<property name="defaultEncoding" value="utf-8"/>
    	<property name="maxUploadSize" value="104857600" />
    	<property name="maxInMemorySize" value="4096" />
    </bean>

	<context:component-scan base-package="com.ebeijia.controller.*"/>
	<!-- 代理日志 -->
    <aop:aspectj-autoproxy proxy-target-class="true" />


    <!-- 拦截器配置 -->
    <!-- 开发的时候先注释掉 -->
    <!-- <mvc:interceptors>
      <mvc:interceptor>
        <mvc:mapping path="/console/*/*"/>
        <bean class="com.ebeijia.contro.intercepter.SessionInterceptor">
          <property name="allowUrls">
            <list>
              如果请求中包含以下路径，则不进行拦截
              <value>/login</value>
              <value>/js</value>
              <value>/css</value>
              <value>/image</value>
              <value>/images</value>
              <value>/resource/style</value>
            </list>
          </property>
        </bean>
      </mvc:interceptor>
    </mvc:interceptors>

     <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
      <property name="exceptionMappings">
        <props>
          <prop key="com.ebeijia.contro.Exception.SessionTimeoutException">redirect:/</prop>
        </props>
      </property>
    </bean>   -->
	<!--
	coffee 拦截器
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/coffee/*"/>
			<bean class="com.ebeijia.controller.coffee.interceptor.JyInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>-->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/jypayment/*"/>
			<bean class="com.ebeijia.controller.jypayment.interceptor.JyInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>
