<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ebeijia.mapper.InterfaceColnumInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ebeijia.entity.InterfaceColnumInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="colnum" property="colnum" jdbcType="VARCHAR" />
    <result column="col_desc" property="colDesc" jdbcType="VARCHAR" />
    <result column="col_length" property="colLength" jdbcType="INTEGER" />
    <result column="col_data_type" property="colDataType" jdbcType="VARCHAR" />
    <result column="col_pad_type" property="colPadType" jdbcType="VARCHAR" />
    <result column="is_auto_pad" property="isAutoPad" jdbcType="CHAR" />
    <result column="pad_char" property="padChar" jdbcType="VARCHAR" />
    <result column="col_order" property="colOrder" jdbcType="INTEGER" />
    <result column="define_id" property="defineId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, colnum, col_desc, col_length, col_data_type, col_pad_type, is_auto_pad, pad_char, 
    col_order, define_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_interface_colnum_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_interface_colnum_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ebeijia.entity.InterfaceColnumInfo" >
    insert into tbl_interface_colnum_info (id, colnum, col_desc, 
      col_length, col_data_type, col_pad_type, 
      is_auto_pad, pad_char, col_order, 
      define_id)
    values (#{id,jdbcType=INTEGER}, #{colnum,jdbcType=VARCHAR}, #{colDesc,jdbcType=VARCHAR}, 
      #{colLength,jdbcType=INTEGER}, #{colDataType,jdbcType=VARCHAR}, #{colPadType,jdbcType=VARCHAR}, 
      #{isAutoPad,jdbcType=CHAR}, #{padChar,jdbcType=VARCHAR}, #{colOrder,jdbcType=INTEGER}, 
      #{defineId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ebeijia.entity.InterfaceColnumInfo" >
    insert into tbl_interface_colnum_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="colnum != null" >
        colnum,
      </if>
      <if test="colDesc != null" >
        col_desc,
      </if>
      <if test="colLength != null" >
        col_length,
      </if>
      <if test="colDataType != null" >
        col_data_type,
      </if>
      <if test="colPadType != null" >
        col_pad_type,
      </if>
      <if test="isAutoPad != null" >
        is_auto_pad,
      </if>
      <if test="padChar != null" >
        pad_char,
      </if>
      <if test="colOrder != null" >
        col_order,
      </if>
      <if test="defineId != null" >
        define_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="colnum != null" >
        #{colnum,jdbcType=VARCHAR},
      </if>
      <if test="colDesc != null" >
        #{colDesc,jdbcType=VARCHAR},
      </if>
      <if test="colLength != null" >
        #{colLength,jdbcType=INTEGER},
      </if>
      <if test="colDataType != null" >
        #{colDataType,jdbcType=VARCHAR},
      </if>
      <if test="colPadType != null" >
        #{colPadType,jdbcType=VARCHAR},
      </if>
      <if test="isAutoPad != null" >
        #{isAutoPad,jdbcType=CHAR},
      </if>
      <if test="padChar != null" >
        #{padChar,jdbcType=VARCHAR},
      </if>
      <if test="colOrder != null" >
        #{colOrder,jdbcType=INTEGER},
      </if>
      <if test="defineId != null" >
        #{defineId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ebeijia.entity.InterfaceColnumInfo" >
    update tbl_interface_colnum_info
    <set >
      <if test="colnum != null" >
        colnum = #{colnum,jdbcType=VARCHAR},
      </if>
      <if test="colDesc != null" >
        col_desc = #{colDesc,jdbcType=VARCHAR},
      </if>
      <if test="colLength != null" >
        col_length = #{colLength,jdbcType=INTEGER},
      </if>
      <if test="colDataType != null" >
        col_data_type = #{colDataType,jdbcType=VARCHAR},
      </if>
      <if test="colPadType != null" >
        col_pad_type = #{colPadType,jdbcType=VARCHAR},
      </if>
      <if test="isAutoPad != null" >
        is_auto_pad = #{isAutoPad,jdbcType=CHAR},
      </if>
      <if test="padChar != null" >
        pad_char = #{padChar,jdbcType=VARCHAR},
      </if>
      <if test="colOrder != null" >
        col_order = #{colOrder,jdbcType=INTEGER},
      </if>
      <if test="defineId != null" >
        define_id = #{defineId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ebeijia.entity.InterfaceColnumInfo" >
    update tbl_interface_colnum_info
    set colnum = #{colnum,jdbcType=VARCHAR},
      col_desc = #{colDesc,jdbcType=VARCHAR},
      col_length = #{colLength,jdbcType=INTEGER},
      col_data_type = #{colDataType,jdbcType=VARCHAR},
      col_pad_type = #{colPadType,jdbcType=VARCHAR},
      is_auto_pad = #{isAutoPad,jdbcType=CHAR},
      pad_char = #{padChar,jdbcType=VARCHAR},
      col_order = #{colOrder,jdbcType=INTEGER},
      define_id = #{defineId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>