<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ebeijia.videocore.mapper.TRobotMapper">
	<resultMap id="BaseResultMap" type="com.ebeijia.videocore.pojo.TRobot">
		<id column="R_ID" property="rId" jdbcType="INTEGER" />
		<result column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="DEVICE_ID" property="deviceId" jdbcType="VARCHAR" />
		<result column="DTYPE" property="dtype" jdbcType="VARCHAR" />
		<result column="DEVICE_NAME" property="deviceName" jdbcType="VARCHAR" />
		<result column="ABOUT" property="about" jdbcType="VARCHAR" />
		<result column="RES1" property="res1" jdbcType="VARCHAR" />
		<result column="RES2" property="res2" jdbcType="VARCHAR" />
		<result column="RES3" property="res3" jdbcType="VARCHAR" />
		<result column="RES4" property="res4" jdbcType="VARCHAR" />
		<result column="RES5" property="res5" jdbcType="VARCHAR" />
		<result column="LAST_TIME" property="lastTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		R_ID, USER_ID, DEVICE_ID, DTYPE, DEVICE_NAME, ABOUT, RES1,
		RES2, RES3,
		RES4, RES5,
		LAST_TIME
	</sql>
	<sql id="Example_Where_Clause">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="params.userId != null">
				and USER_ID = #{params.userId,jdbcType=VARCHAR}
			</if>
			<if test="params.deviceId != null">
				and DEVICE_ID = #{params.deviceId,jdbcType=VARCHAR}
			</if>
			<if test="params.deviceIds != null">
				and DEVICE_ID in (${params.deviceIds})
			</if>
			<if test="params.dtype != null">
				and DTYPE = #{params.dtype,jdbcType=VARCHAR}
			</if>
			<if test="params.deviceName != null">
				and DEVICE_NAME = #{params.deviceName,jdbcType=VARCHAR}
			</if>
			<if test="params.about != null">
				and ABOUT = #{params.about,jdbcType=VARCHAR}
			</if>
			<if test="params.res1 != null">
				and RES1 = #{params.res1,jdbcType=VARCHAR}
			</if>
			<if test="params.res2 != null">
				and RES2 = #{params.res2,jdbcType=VARCHAR}
			</if>
			<if test="params.res3 != null">
				and RES3 = #{params.res3,jdbcType=VARCHAR}
			</if>
			<if test="params.res4 != null">
				and RES4 = #{params.res4,jdbcType=VARCHAR}
			</if>
			<if test="params.res5 != null">
				and RES5 = #{params.res5,jdbcType=VARCHAR}
			</if>
			<if test="params.lastTime != null">
				and LAST_TIME = #{params.lastTime,jdbcType=TIMESTAMP}
			</if>
		</trim>
	</sql>
	<select id="selectByParams" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_robot
		<include refid="Example_Where_Clause" />
	</select>
	<select id="selectCountByParams" resultType="int">
		select count(*) from t_robot
		<include refid="Example_Where_Clause" />
	</select>
	<select id="selectListParams" resultType="list" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		 from t_robot
		<include refid="Example_Where_Clause" />
	</select>
	<select id="selectListByParams" resultType="list" resultMap="BaseResultMap">
		select
		r.R_ID as rid,
		r.DEVICE_ID as deviceId,
		r.DEVICE_NAME as
		deviceName,
		r.DTYPE as dtype,
		t.STATE as state,t.sname,
        t.LAST_TIME as lastTime
		from t_robot
		r,t_robot_state t
		<include refid="Example_Where_Clause" />
		and r.R_ID=t.R_ID
		<if test="orderParam != null">
			order by ${orderParam}
		</if>
		<!-- <include refid="common.Pagination_Limit" /> -->
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_robot
		where R_ID = #{rId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_robot
		where R_ID = #{rId,jdbcType=INTEGER}
	</delete>
	<delete id="deleteBySelective" parameterType="string">
		delete from t_robot
		where DEVICE_ID = #{deviceId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.ebeijia.videocore.pojo.TRobot"
		useGeneratedKeys="true" keyProperty="rId">
		insert into t_robot (R_ID,
		USER_ID, DEVICE_ID,
		DTYPE, DEVICE_NAME, ABOUT,
		RES1, RES2, RES3, RES4,
		RES5, LAST_TIME)
		values (#{rId,jdbcType=INTEGER},
		#{userId,jdbcType=VARCHAR},
		#{deviceId,jdbcType=VARCHAR},
		#{dtype,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR},
		#{about,jdbcType=VARCHAR},
		#{res1,jdbcType=VARCHAR},
		#{res2,jdbcType=VARCHAR},
		#{res3,jdbcType=VARCHAR},
		#{res4,jdbcType=VARCHAR},
		#{res5,jdbcType=VARCHAR},
		#{lastTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.ebeijia.videocore.pojo.TRobot"
		useGeneratedKeys="true" keyProperty="rId">
		insert into t_robot
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="rId != null">
				R_ID,
			</if>
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="deviceId != null">
				DEVICE_ID,
			</if>
			<if test="dtype != null">
				DTYPE,
			</if>
			<if test="deviceName != null">
				DEVICE_NAME,
			</if>
			<if test="about != null">
				ABOUT,
			</if>
			<if test="res1 != null">
				RES1,
			</if>
			<if test="res2 != null">
				RES2,
			</if>
			<if test="res3 != null">
				RES3,
			</if>
			<if test="res4 != null">
				RES4,
			</if>
			<if test="res5 != null">
				RES5,
			</if>
			<if test="lastTime != null">
				LAST_TIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="rId != null">
				#{rId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="deviceId != null">
				#{deviceId,jdbcType=VARCHAR},
			</if>
			<if test="dtype != null">
				#{dtype,jdbcType=VARCHAR},
			</if>
			<if test="deviceName != null">
				#{deviceName,jdbcType=VARCHAR},
			</if>
			<if test="about != null">
				#{about,jdbcType=VARCHAR},
			</if>
			<if test="res1 != null">
				#{res1,jdbcType=VARCHAR},
			</if>
			<if test="res2 != null">
				#{res2,jdbcType=VARCHAR},
			</if>
			<if test="res3 != null">
				#{res3,jdbcType=VARCHAR},
			</if>
			<if test="res4 != null">
				#{res4,jdbcType=VARCHAR},
			</if>
			<if test="res5 != null">
				#{res5,jdbcType=VARCHAR},
			</if>
			<if test="lastTime != null">
				#{lastTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ebeijia.videocore.pojo.TRobot">
		update t_robot
		<set>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="deviceId != null">
				DEVICE_ID = #{deviceId,jdbcType=VARCHAR},
			</if>
			<if test="dtype != null">
				DTYPE = #{dtype,jdbcType=VARCHAR},
			</if>
			<if test="deviceName != null">
				DEVICE_NAME = #{deviceName,jdbcType=VARCHAR},
			</if>
			<if test="about != null">
				ABOUT = #{about,jdbcType=VARCHAR},
			</if>
			<if test="res1 != null">
				RES1 = #{res1,jdbcType=VARCHAR},
			</if>
			<if test="res2 != null">
				RES2 = #{res2,jdbcType=VARCHAR},
			</if>
			<if test="res3 != null">
				RES3 = #{res3,jdbcType=VARCHAR},
			</if>
			<if test="res4 != null">
				RES4 = #{res4,jdbcType=VARCHAR},
			</if>
			<if test="res5 != null">
				RES5 = #{res5,jdbcType=VARCHAR},
			</if>
			<if test="lastTime != null">
				LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where R_ID = #{rId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ebeijia.videocore.pojo.TRobot">
		update t_robot
		set
		USER_ID = #{userId,jdbcType=VARCHAR},
		DEVICE_ID =
		#{deviceId,jdbcType=VARCHAR},
		DTYPE = #{dtype,jdbcType=VARCHAR},
		DEVICE_NAME = #{deviceName,jdbcType=VARCHAR},
		ABOUT =
		#{about,jdbcType=VARCHAR},
		RES1 = #{res1,jdbcType=VARCHAR},
		RES2 =
		#{res2,jdbcType=VARCHAR},
		RES3 = #{res3,jdbcType=VARCHAR},
		RES4 =
		#{res4,jdbcType=VARCHAR},
		RES5 = #{res5,jdbcType=VARCHAR},
		LAST_TIME =
		#{lastTime,jdbcType=TIMESTAMP}
		where R_ID = #{rId,jdbcType=INTEGER}
	</update>
</mapper>