<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ebeijia.videocore.mapper.TVideoResourceuserMapper">
	<resultMap id="BaseResultMap" type="com.ebeijia.videocore.pojo.TVideoResourceuser">
		<id column="VU_ID" property="vuId" jdbcType="INTEGER" />
		<result column="VID" property="vid" jdbcType="INTEGER" />
		<result column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="V_TIME" property="vTime" jdbcType="TIMESTAMP" />
		<result column="ABOUT" property="about" jdbcType="VARCHAR" />
		<result column="RES1" property="res1" jdbcType="VARCHAR" />
		<result column="RES2" property="res2" jdbcType="VARCHAR" />
		<result column="RES3" property="res3" jdbcType="VARCHAR" />
		<result column="RES4" property="res4" jdbcType="VARCHAR" />
		<result column="RES5" property="res5" jdbcType="VARCHAR" />
		<result column="LAST_TIME" property="lastTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		VU_ID, VID, USER_ID, V_TIME, ABOUT, RES1, RES2, RES3, RES4,
		RES5, LAST_TIME
	</sql>
	<sql id="Example_Where_Clause">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="params.vid != null">
				and VID = #{params.vid,jdbcType=INTEGER}
			</if>
			<if test="params.userId != null">
				and USER_ID = #{params.userId,jdbcType=VARCHAR}
			</if>
			<if test="params.vTime != null">
				and V_TIME = #{params.vTime,jdbcType=TIMESTAMP}
			</if>
			<if test="params.about != null">
				and ABOUT = #{params.about,jdbcType=VARCHAR}
			</if>
			<if test="params.res1 != null">
				and RES1 = #{params.res1,jdbcType=VARCHAR}
			</if>
			<if test="params.res2 != null">
				and RES2 = #{params.res2,jdbcType=VARCHAR}
			</if>
			<if test="params.res3 != null">
				and RES3 = #{params.res3,jdbcType=VARCHAR}
			</if>
			<if test="params.res4 != null">
				and RES4 = #{params.res4,jdbcType=VARCHAR}
			</if>
			<if test="params.res5 != null">
				and RES5 = #{params.res5,jdbcType=VARCHAR}
			</if>
			<if test="params.lastTime != null">
				and LAST_TIME = #{params.lastTime,jdbcType=TIMESTAMP}
			</if>
			<if test="params.vname != null">
				and VNAME = #{params.vname,jdbcType=VARCHAR}
			</if>
			<if test="params.vtype != null">
				and VTYPE = #{params.vtype,jdbcType=CHAR}
			</if>
		</trim>
	</sql>
	<select id="selectByParams" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_video_resourceuser
		<include refid="Example_Where_Clause" />
	</select>
	<select id="selectCountByParams" resultType="int">
		select count(*) from t_video_resourceuser
		<include refid="Example_Where_Clause" />
	</select>
	<select id="selectListByParams" resultType="list" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_video_resourceuser
		<include refid="Example_Where_Clause" />
		<if test="orderParam != null">
			order by ${orderParam}
		</if>
		<!-- <include refid="common.Pagination_Limit" /> -->
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_video_resourceuser
		where VU_ID = #{vuId,jdbcType=INTEGER}
	</select>

	<select id="selectUserVideoResource" resultType="list"
		resultMap="BaseResultMap">

		select r.VID as vid,r.VU_ID as vuId ,v.VNAME as vname ,v.VTYPE as
		vtype,v.VAGE as
		vage,v.UU
		AS uu,v.VU as vu ,f.LOCAL_PATH as imgpath
		,v.V_URL as
		vUrl,v.ABOUT as
		about,f.FILE_ID as fileId
		from
		t_video_resourceuser r,
		t_video_resource v,t_fileinfo f
		<include refid="Example_Where_Clause" />
		and r.VID=v.VID and v.FILE_ID=f.FILE_ID
		<if test="orderParam != null"> order by ${orderParam}
		</if>
	</select>

	<select id="selectRobotNResource" resultType="list" resultMap="BaseResultMap">
		select r.VU_ID as vuId,r.VID as vid,v.VTYPE as
		vtype,v.VNAME as vname
		,v.VAGE as
		vage,f.LOCAL_PATH as imgpath
		,v.V_URL as
		vUrl,r.ABOUT as
		about,f.FILE_ID as fileId
		from
		t_video_resourceuser r,
		t_video_resource v,
		t_fileinfo f
		<include refid="Example_Where_Clause" />
		and r.VID=v.VID and v.FILE_ID=f.FILE_ID
		AND r.VID NOT IN (
		SELECT
		t.vid
		FROM
		t_robot_resource t,
		t_robot o
		WHERE
		t.r_id = o.r_id
		<if test="params.userId != null">
			and USER_ID = #{params.userId,jdbcType=VARCHAR}
		</if>
		<if test="params.devId != null">
			and DEVICE_ID = #{params.devId,jdbcType=VARCHAR}
		</if>
		)
		<if test="orderParam != null"> order by ${orderParam}
		</if>

	</select>

	<select id="selectIsEnshrine" resultType="java.lang.Integer">
		select count(*) from t_video_resourceuser
		<include refid="Example_Where_Clause" />
		<if test="orderParam != null"> order by ${orderParam}
		</if>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_video_resourceuser
		where VU_ID = #{vuId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ebeijia.videocore.pojo.TVideoResourceuser">
		insert into
		t_video_resourceuser (VU_ID, VID, USER_ID,
		V_TIME, ABOUT, RES1,
		RES2,
		RES3, RES4, RES5,
		LAST_TIME)
		values (#{vuId,jdbcType=INTEGER},
		#{vid,jdbcType=INTEGER},
		#{userId,jdbcType=VARCHAR},
		#{vTime,jdbcType=TIMESTAMP}, #{about,jdbcType=VARCHAR},
		#{res1,jdbcType=VARCHAR},
		#{res2,jdbcType=VARCHAR},
		#{res3,jdbcType=VARCHAR},
		#{res4,jdbcType=VARCHAR},
		#{res5,jdbcType=VARCHAR},
		#{lastTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.ebeijia.videocore.pojo.TVideoResourceuser"
		useGeneratedKeys="true" keyProperty="vuId">
		insert into t_video_resourceuser
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="vuId != null">
				VU_ID,
			</if>
			<if test="vid != null">
				VID,
			</if>
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="vTime != null">
				V_TIME,
			</if>
			<if test="about != null">
				ABOUT,
			</if>
			<if test="res1 != null">
				RES1,
			</if>
			<if test="res2 != null">
				RES2,
			</if>
			<if test="res3 != null">
				RES3,
			</if>
			<if test="res4 != null">
				RES4,
			</if>
			<if test="res5 != null">
				RES5,
			</if>
			<if test="lastTime != null">
				LAST_TIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="vuId != null">
				#{vuId,jdbcType=INTEGER},
			</if>
			<if test="vid != null">
				#{vid,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="vTime != null">
				#{vTime,jdbcType=TIMESTAMP},
			</if>
			<if test="about != null">
				#{about,jdbcType=VARCHAR},
			</if>
			<if test="res1 != null">
				#{res1,jdbcType=VARCHAR},
			</if>
			<if test="res2 != null">
				#{res2,jdbcType=VARCHAR},
			</if>
			<if test="res3 != null">
				#{res3,jdbcType=VARCHAR},
			</if>
			<if test="res4 != null">
				#{res4,jdbcType=VARCHAR},
			</if>
			<if test="res5 != null">
				#{res5,jdbcType=VARCHAR},
			</if>
			<if test="lastTime != null">
				#{lastTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ebeijia.videocore.pojo.TVideoResourceuser">
		update t_video_resourceuser
		<set>
			<if test="vid != null">
				VID = #{vid,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="vTime != null">
				V_TIME = #{vTime,jdbcType=TIMESTAMP},
			</if>
			<if test="about != null">
				ABOUT = #{about,jdbcType=VARCHAR},
			</if>
			<if test="res1 != null">
				RES1 = #{res1,jdbcType=VARCHAR},
			</if>
			<if test="res2 != null">
				RES2 = #{res2,jdbcType=VARCHAR},
			</if>
			<if test="res3 != null">
				RES3 = #{res3,jdbcType=VARCHAR},
			</if>
			<if test="res4 != null">
				RES4 = #{res4,jdbcType=VARCHAR},
			</if>
			<if test="res5 != null">
				RES5 = #{res5,jdbcType=VARCHAR},
			</if>
			<if test="lastTime != null">
				LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where VU_ID = #{vuId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ebeijia.videocore.pojo.TVideoResourceuser">
		update
		t_video_resourceuser
		set VID = #{vid,jdbcType=INTEGER},
		USER_ID =
		#{userId,jdbcType=VARCHAR},
		V_TIME = #{vTime,jdbcType=TIMESTAMP},
		ABOUT
		= #{about,jdbcType=VARCHAR},
		RES1 = #{res1,jdbcType=VARCHAR},
		RES2 =
		#{res2,jdbcType=VARCHAR},
		RES3 = #{res3,jdbcType=VARCHAR},
		RES4 =
		#{res4,jdbcType=VARCHAR},
		RES5 = #{res5,jdbcType=VARCHAR},
		LAST_TIME =
		#{lastTime,jdbcType=TIMESTAMP}
		where VU_ID = #{vuId,jdbcType=INTEGER}
	</update>
</mapper>