<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ebeijia.robot.core.mapper.TDictdataMapper">
	<resultMap id="BaseResultMap" type="com.ebeijia.robot.core.pojo.TDictdata">
		<result column="DICT_ID" property="dictId" jdbcType="CHAR" />
		<result column="DICT_KEY" property="dictKey" jdbcType="CHAR" />
		<result column="DICT_VALUE" property="dictValue" jdbcType="CHAR" />
		<result column="IS_READ_ONLY" property="isReadOnly" jdbcType="CHAR" />
		<result column="LAST_TIME" property="lastTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		DICT_ID, DICT_KEY, DICT_VALUE, IS_READ_ONLY,LAST_TIME
	</sql>
	<insert id="insert" parameterType="com.ebeijia.robot.core.pojo.TDictdata">
		insert into t_dictdata
		(DICT_ID, DICT_KEY, DICT_VALUE,
		IS_READ_ONLY, LAST_TIME)
		values
		(#{dictId,jdbcType=CHAR}, #{dictKey,jdbcType=CHAR},
		#{dictValue,jdbcType=CHAR},
		#{isReadOnly,jdbcType=CHAR},
		#{lastTime,jdbcType=TIMESTAMP})
	</insert>
	<sql id="Example_Where_Clause">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="params.dictId != null">
				and DICT_ID = #{params.dictId,jdbcType=CHAR}
			</if>
			<if test="params.dictKey != null">
				and DICT_KEY = #{params.dictKey,jdbcType=CHAR}
			</if>
			<if test="params.dictValue != null">
				and DICT_VALUE = #{params.dictValue,jdbcType=CHAR}
			</if>
			<if test="params.isReadOnly != null">
				and IS_READ_ONLY = #{params.isReadOnly,jdbcType=CHAR}
			</if>
			<if test="params.lastTime != null">
				and LAST_TIME = #{params.lastTime,jdbcType=TIMESTAMP}
			</if>
		</trim>
	</sql>
	<select id="selectByParams" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_dictdata
		<include refid="Example_Where_Clause" />
	</select>
	<select id="selectCountByParams" resultType="int">
		select count(*) from t_dictdata
		<include refid="Example_Where_Clause" />
	</select>
	<select id="selectListByPageParams" resultType="list" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_dictdata
		<include refid="Example_Where_Clause" />
		<if test="orderParam != null">
			order by ${orderParam}
		</if>
	   <include refid="common.Pagination_Limit" />
	</select>
	<select id="selectListByParams" resultType="list" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_dictdata
		<include refid="Example_Where_Clause" />
		<if test="orderParam != null">
			order by ${orderParam}
		</if>
		<!-- <include refid="common.Pagination_Limit" /> -->
	</select>
	<insert id="insertSelective" parameterType="com.ebeijia.robot.core.pojo.TDictdata">
		insert into t_dictdata
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="dictId != null">
				DICT_ID,
			</if>
			<if test="dictKey != null">
				DICT_KEY,
			</if>
			<if test="dictValue != null">
				DICT_VALUE,
			</if>
			<if test="isReadOnly != null">
				IS_READ_ONLY,
			</if>
			<if test="lastTime != null">
				LAST_TIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="dictId != null">
				#{dictId,jdbcType=CHAR},
			</if>
			<if test="dictKey != null">
				#{dictKey,jdbcType=CHAR},
			</if>
			<if test="dictValue != null">
				#{dictValue,jdbcType=CHAR},
			</if>
			<if test="isReadOnly != null">
				#{isReadOnly,jdbcType=CHAR},
			</if>
			<if test="lastTime != null">
				#{lastTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<delete id="deleteBySelective" parameterType="string">
		delete from
		t_dictdata
		where DICT_ID = #{dictId,jdbcType=VARCHAR}
	</delete>

	<delete id="deleteByParams">
		delete from t_dictdata
		<include refid="Example_Where_Clause" />
	</delete>

	<update id="updateSelective" parameterType="com.ebeijia.robot.core.pojo.TDictdata">
		update t_dictdata
		<set>
			<if test="dictId != null">
				DICT_ID = #{dictId,jdbcType=CHAR},
			</if>
			<if test="dictKey != null">
				DICT_KEY = #{dictKey,jdbcType=CHAR},
			</if>
			<if test="dictValue != null">
				DICT_VALUE = #{dictValue,jdbcType=CHAR},
			</if>
			<if test="isReadOnly != null">
				IS_READ_ONLY = #{isReadOnly,jdbcType=CHAR},
			</if>
		</set>
		where DICT_ID = #{dictId,jdbcType=CHAR}
		   and DICT_KEY =
		   #{dictKey,jdbcType=CHAR}
	</update>
</mapper>