<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ebeijia.robot.core.mapper.TRobotinfoMapper" >
  <resultMap id="BaseResultMap" type="com.ebeijia.robot.core.pojo.TRobotinfo" >
    <id column="RR_ID" property="rrId" jdbcType="INTEGER" />
    <result column="DEVICEID" property="deviceid" jdbcType="VARCHAR" />
    <result column="RNAME" property="rname" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="ABOUT" property="about" jdbcType="VARCHAR" />
    <result column="RES1" property="res1" jdbcType="VARCHAR" />
    <result column="RES2" property="res2" jdbcType="VARCHAR" />
    <result column="RES3" property="res3" jdbcType="VARCHAR" />
    <result column="RES4" property="res4" jdbcType="VARCHAR" />
    <result column="LAST_TIME" property="lastTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    RR_ID, DEVICEID, RNAME, STATE, ABOUT, RES1, RES2, RES3, RES4, LAST_TIME
  </sql>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="params.deviceid != null" >
         and DEVICEID = #{params.deviceid,jdbcType=VARCHAR}
      </if>
      <if test="params.rname != null" >
         and RNAME = #{params.rname,jdbcType=VARCHAR}
      </if>
      <if test="params.state != null" >
         and STATE = #{params.state,jdbcType=VARCHAR}
      </if>
      <if test="params.about != null" >
         and ABOUT = #{params.about,jdbcType=VARCHAR}
      </if>
      <if test="params.res1 != null" >
         and RES1 = #{params.res1,jdbcType=VARCHAR}
      </if>
      <if test="params.res2 != null" >
         and RES2 = #{params.res2,jdbcType=VARCHAR}
      </if>
      <if test="params.res3 != null" >
         and RES3 = #{params.res3,jdbcType=VARCHAR}
      </if>
      <if test="params.res4 != null" >
         and RES4 = #{params.res4,jdbcType=VARCHAR}
      </if>
      <if test="params.lastTime != null" >
         and LAST_TIME = #{params.lastTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_robotinfo
    <include refid="Example_Where_Clause" />
  </select>
  <select id="selectCountByParams" resultType="int" >
    select count(*) from t_robotinfo
    <include refid="Example_Where_Clause" />
  </select>
  <select id="selectListByParams" resultType="list" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_robotinfo
    <include refid="Example_Where_Clause" />
    <if test="orderParam != null" >
      order by ${orderParam}
    </if>
    <include refid="common.Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_robotinfo
    where RR_ID = #{rrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_robotinfo
    where RR_ID = #{rrId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ebeijia.robot.core.pojo.TRobotinfo" >
    insert into t_robotinfo (RR_ID, DEVICEID, RNAME, 
      STATE, ABOUT, RES1, 
      RES2, RES3, RES4, LAST_TIME
      )
    values (#{rrId,jdbcType=INTEGER}, #{deviceid,jdbcType=VARCHAR}, #{rname,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{about,jdbcType=VARCHAR}, #{res1,jdbcType=VARCHAR}, 
      #{res2,jdbcType=VARCHAR}, #{res3,jdbcType=VARCHAR}, #{res4,jdbcType=VARCHAR}, #{lastTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ebeijia.robot.core.pojo.TRobotinfo" >
    insert into t_robotinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rrId != null" >
        RR_ID,
      </if>
      <if test="deviceid != null" >
        DEVICEID,
      </if>
      <if test="rname != null" >
        RNAME,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="about != null" >
        ABOUT,
      </if>
      <if test="res1 != null" >
        RES1,
      </if>
      <if test="res2 != null" >
        RES2,
      </if>
      <if test="res3 != null" >
        RES3,
      </if>
      <if test="res4 != null" >
        RES4,
      </if>
      <if test="lastTime != null" >
        LAST_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rrId != null" >
        #{rrId,jdbcType=INTEGER},
      </if>
      <if test="deviceid != null" >
        #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="rname != null" >
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="about != null" >
        #{about,jdbcType=VARCHAR},
      </if>
      <if test="res1 != null" >
        #{res1,jdbcType=VARCHAR},
      </if>
      <if test="res2 != null" >
        #{res2,jdbcType=VARCHAR},
      </if>
      <if test="res3 != null" >
        #{res3,jdbcType=VARCHAR},
      </if>
      <if test="res4 != null" >
        #{res4,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ebeijia.robot.core.pojo.TRobotinfo" >
    update t_robotinfo
    <set >
      <if test="deviceid != null" >
        DEVICEID = #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="rname != null" >
        RNAME = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="about != null" >
        ABOUT = #{about,jdbcType=VARCHAR},
      </if>
      <if test="res1 != null" >
        RES1 = #{res1,jdbcType=VARCHAR},
      </if>
      <if test="res2 != null" >
        RES2 = #{res2,jdbcType=VARCHAR},
      </if>
      <if test="res3 != null" >
        RES3 = #{res3,jdbcType=VARCHAR},
      </if>
      <if test="res4 != null" >
        RES4 = #{res4,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where RR_ID = #{rrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ebeijia.robot.core.pojo.TRobotinfo" >
    update t_robotinfo
    set DEVICEID = #{deviceid,jdbcType=VARCHAR},
      RNAME = #{rname,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      ABOUT = #{about,jdbcType=VARCHAR},
      RES1 = #{res1,jdbcType=VARCHAR},
      RES2 = #{res2,jdbcType=VARCHAR},
      RES3 = #{res3,jdbcType=VARCHAR},
      RES4 = #{res4,jdbcType=VARCHAR},
      LAST_TIME = #{lastTime,jdbcType=TIMESTAMP}
    where RR_ID = #{rrId,jdbcType=INTEGER}
  </update>
</mapper>