<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ebeijia.robot.core.mapper.TRoleMapper">
	<resultMap id="BaseResultMap" type="com.ebeijia.robot.core.pojo.TRole">
		<id column="ROLE_ID" property="roleId" jdbcType="INTEGER" />
		<result column="NAME" property="name" jdbcType="CHAR" />
		<result column="LAST_TIME" property="lastTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		ROLE_ID, NAME, LAST_TIME
	</sql>
	<sql id="Example_Where_Clause">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="params.name != null">
				and NAME = #{params.name,jdbcType=CHAR}
			</if>
			<if test="params.lastTime != null">
				and LAST_TIME = #{params.lastTime,jdbcType=TIMESTAMP}
			</if>
		</trim>
	</sql>
	<select id="selectByParams" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_role
		<include refid="Example_Where_Clause" />
	</select>
	<select id="selectCountByParams" resultType="int">
		select count(*) from t_role
		<include refid="Example_Where_Clause" />
	</select>
	<select id="selectListByParams" resultType="list" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_role
		<include refid="Example_Where_Clause" />
		<if test="orderParam != null">
			order by ${orderParam}
		</if>
		<include refid="common.Pagination_Limit" />
	</select>

	<select id="selectListByParam" resultType="list" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_role
		<include refid="Example_Where_Clause" />
		<if test="orderParam != null">
			order by ${orderParam}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_role
		where ROLE_ID = #{roleId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_role
		where ROLE_ID = #{roleId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ebeijia.robot.core.pojo.TRole">
		insert into t_role (ROLE_ID,
		NAME, LAST_TIME
		)
		values (#{roleId,jdbcType=INTEGER},
		#{name,jdbcType=CHAR},
		#{lastTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.ebeijia.robot.core.pojo.TRole"
		useGeneratedKeys="true" keyProperty="roleId">
		insert into t_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				ROLE_ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="lastTime != null">
				LAST_TIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				#{roleId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=CHAR},
			</if>
			<if test="lastTime != null">
				#{lastTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ebeijia.robot.core.pojo.TRole">
		update t_role
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=CHAR},
			</if>
			<if test="lastTime != null">
				LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ROLE_ID = #{roleId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ebeijia.robot.core.pojo.TRole">
		update t_role
		set
		NAME = #{name,jdbcType=CHAR},
		LAST_TIME =
		#{lastTime,jdbcType=TIMESTAMP}
		where ROLE_ID =
		#{roleId,jdbcType=INTEGER}
	</update>
</mapper>